body {
    background-color: #2a3034;
    font-family: Verdana, Sans-Serif, Arial;
}

a {
    text-decoration: none;
    text-align: center;
}

.container {
    max-width: 50em;
    margin: 0 auto;
}

.button {
    background-color: #1A7B72;
    border: 1px solid transparent;
    border-color: transparent;
    color: #FFF;
    cursor: pointer;
    min-width: 2em;
    font-size: 1em;
}

.button:hover {
    background-color: #219d91;
    text-decoration: none;
}

.button:focus {
    outline: none;
}

h1 {
    color: #FFF;
}

.header {
    text-align: center;
    margin: 0 auto;
}

.flex-grid {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-between;
    max-width: 50em;
}

.col {
    margin: 1em;
    padding: 1em;
    flex: 1;
    min-width: 10em;
}

@media (max-width: 37em){
    .flex-grid {
        flex-wrap: wrap;
    }

    .circle {
        border-radius: 100%;
        width: 3em;
        height: 3em;
        position: fixed;
        background-color: yellow;
        color: black;
        /* Aligns the text vertically */
        vertical-align: middle;
        line-height: 3em;
        font-weight: bold;
        min-width: 0em;
    }

    #on {
        bottom: 1em;
        right: 1em;
    }

    #off {
        bottom: 1em;
        left: 1em;
    }
}

