body {
    background-color: #2a3034;
    font-family: Verdana, Sans-Serif, Arial;
}

a {
    text-decoration: none;
    text-align: center;
}

.container {
    max-width: 50em;
    margin: 0 auto;
}

.button {
    background-color: #1A7B72;
    border: 1px solid transparent;
    border-color: transparent;
    color: #FFF;
    cursor: pointer;
    min-width: 2em;
    font-size: 1em;
}

#outrun {
  background: rgb(247,2,2);
  background: linear-gradient(0deg, rgba(247,2,2,1) 0%, rgba(221,242,0,1) 100%);
  border: 0px;
  color: #000;
}

.button:hover {
    background-color: #219d91;
    text-decoration: none;
}

.button:focus {
    outline: none;
}

h1 {
    color: #FFF;
}

.header {
    text-align: center;
    margin: 0 auto;
}

.flex-grid {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-between;
    max-width: 50em;
}

.col {
    margin: 1em;
    padding: 1em;
    flex: 1;
    min-width: 10em;
}

@media screen and (max-width: 24em){
    .flex-grid {
        flex-wrap: wrap;
        max-width: 8em;
    }

    .circle {
        background-color: yellow;
        border-radius: 100%;
        box-shadow: 0 0 1.5em #000;
        color: black;
        font-size: 1.1em;
        height: 1.5em;
        position: fixed;
        width: 1.5em;

        /* Aligns the text vertically */
        font-weight: bold;
        line-height: 1.5em;
        min-width: 0em;
        vertical-align: middle;
    }

    #on {
        bottom: 1em;
        right: 1em;
    }

    #off {
        bottom: 1em;
        left: 1em;
    }
}

