{% extends "base.html" %}

{% block head %}
    <link href="{{ url_for('static', filename='css/index.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="container">
        <div class="button-grid">

            <div class="row">
                <div class="col-md-12">
                    <a class="btn btn-default" href="/signal/0x1F">All On</a>
                    <a class="btn btn-default" href="/signal/0x2F">All Off</a>
                    <a class="btn btn-default" href="/signal/0x11">1 On</a>
                </div>
            </div> <!-- end row -->

            <div class="row">
                <div class="col-md-12">
                    <a class="btn btn-default" href="/signal/0x12">2 On</a>
                    <a class="btn btn-default" href="/signal/0x22">2 Off</a>
                    <a class="btn btn-default" href="/signal/0x21">1 Off</a>
                </div>
            </div> <!-- end row -->

            <div class="row">
                <div class="col-md-12">
                    <a class="btn btn-default" href="/signal/0x3F">Wipe</a>
                    <a class="btn btn-default" href="/signal/0x4F">Chase</a>
                    <a class="btn btn-default" href="/signal/0x5F">Cycle</a>
                </div>
            </div> <!-- end row -->

        </div> <!-- end button-grid -->
    </div> <!-- end container -->
{% endblock %}
